<mat-card-title>{{'menu.resetpass'|translate}} </mat-card-title>
<mat-divider></mat-divider>
<br />
<div style="font-size: 19px">{{ user.firstName }} {{ user.lastName }}</div>
<br />
<form
  name="resetForm"
  role="form"
  novalidate
  #resetForm="ngForm"
  (ngSubmit)="save()"
  class="form-field-full"
>
  <div >
    <div fxLayout="row wrap" fxLayoutGap="8px grid">
      <div fxFlex="100" fxFlex.lt-sm="100" style="font-size: 13px">
        <mat-form-field appearance="outline">
          <mat-label>{{'menu.oldpassword'|translate}}</mat-label>
          <input
            matInput
            placeholder="{{'menu.oldpassword'|translate}}"
            name="currentPassword"
            [type]="hide ? 'password' : 'text'"
            [(ngModel)]="currentPassword"
            type="password"
            minlength="4"
            maxlength="150"
            required
          />
          <mat-icon matSuffix (click)="hide = !hide">
            {{ hide ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.lt-sm="100" style="font-size: 13px">
        <mat-form-field appearance="outline">
          <mat-label>{{'menu.newpassword'|translate}}</mat-label>
          <input
            matInput
            placeholder="{{'menu.newpassword'|translate}}"
            name="newPassword"
            [(ngModel)]="newPassword"
            [type]="hidee ? 'password' : 'text'"
            type="password"
            minlength="2"
            maxlength="150"
            required
          />
          <mat-icon matSuffix (click)="hidee = !hidee">
            {{ hidee ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </mat-form-field>
      </div>

      <div fxFlex="100" fxFlex.lt-sm="100" style="font-size: 13px">
        <mat-form-field appearance="outline">
          <mat-label>{{'menu.confirmPassword' | translate}}</mat-label>
          <input
            matInput
            placeholder="{{'menu.confirmPassword' | translate}}"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            [type]="hideee ? 'password' : 'text'"
            type="password"
            minlength="2"
            maxlength="150"
            required
          />
          <mat-icon matSuffix (click)="hideee = !hideee">
            {{ hideee ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </mat-form-field>
      </div>
      <mat-error
        *ngIf="newPassword != null && confirmPassword != null && newPassword != confirmPassword"
      >
   {{'login.confirmpassword' | translate}}
      </mat-error>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button
        mat-raised-button
        color="primary"
        class="m-t-8"
        type="submit"
        [disabled]="resetForm.form.invalid || newPassword != confirmPassword || isSaving"
      >
      {{'menu.save' | translate}}</button
      >&nbsp;&nbsp;
      <button
        mat-raised-button
        color="warn"
        type="button"
        class="m-t-8"
        mat-dialog-close
        [disabled]="isSaving"
      >
        {{'menu.cancel' | translate}}
      </button>
    </div>
  </div>
</form>
