<footer
  style="
    position: fixed;
    padding: 13px 16px 30px;
    height: 43px;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
  "
>
  <div layout="row" layout-align="center center" flex style="font-size: 14px; color: #8f8f9c">
    <img
      src="./assets/images/logo-sm-modified.png"
      class="matero-branding-logo-expanded"
      alt="logo"
      style="height: 23px; width: 24px; margin-right: 0px; cursor: pointer"

    />
    {{ 'menu.copyright' | translate }}
  </div>
</footer>
<!-- href="./assets/images/logo-sm-modified.png" -->
